body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f8fb;
    color: #1b1f23;
    height: 100dvh;
}

main {
    padding: 2rem;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    min-height: 100dvh;
}

/* ...... */
button { 
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-weight: bold;
}

/* Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24292e;
    color: white;
    padding: 1rem 2rem;
    cursor: default;
}

header nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header nav a,
header nav {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
} header nav a:hover, header nav button:hover {
    text-decoration: underline;
}
header nav a { color: white;}

/* Footer styles
...
*/

section.auth-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: tomato;
    padding: 2rem;
    border-radius: 8px;
    overflow-wrap: break-word;
}

section.auth-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
